header {
    color: lightskyblue;
    text-align: center;
    font-size: 4em;
    padding-top: 15px;
}

.fishmain {
   padding: 15px 30px; 
}

.fish-info {
display: flex;
width: 500px;
font-size: 20px;
}


.fish-section {
border: 3px solid rgb(46, 122, 148);
background-color: rgb(207, 237, 255);
padding: 15px;
margin-top: 10px;
}

.fish-info-pics {
    width: 250px;
    margin-right: 20px;
}

aside {
    width: 35%;
    max-width: 250px;
    min-width: 100px;
    float: right;
    background-color: rgb(247, 247, 247);
    border: 1px solid black;
    padding: 10px 15px;
    margin-top: 3em;
}

.quotes {
    font-style: italic;
    font-size: 30px;
    text-align: center;
    margin: 20px 0 0 20px;
    color:rgb(46, 122, 148)
}

.visited-places {
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

.visited-places img {
    width: 300px;
    margin: 0 20px 0 20px;
}

.visited-places p {
    text-align: center;
}